@font-face {
    font-family: 'NewFont';
    src: url('font/SuperPlants-lgDRV.ttf') format('truetype');

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NewFont', sans-serif;
}

html{
    font-size: 62.5%;
}

header {
    text-align: center;
    width: 100%;
    top: 0;
    left: 50%;
    font-weight: bold;
    margin-top: 5rem;
}

body{
    font-size: 3rem;
    background: #F5f5dc;
    display: flex; 
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.card{
    width: 45rem;
    height: 45rem;
    border-radius: 5rem;
    box-shadow: 0rem 1rem 2rem 0 rgba(0,0,0,0.2);
    flex-shrink: 0;
    overflow: hidden;
}

.card--buy{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.card--buy img{
    height: 60%;
    width: 100%;
    border-radius: 2rem 2rem 2rem 2rem;
}

.card--buy p{
    height: 20%;
    text-align: center;
}


.card--slider > input{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 2rem 2rem 2rem 2rem;
    height: 3rem;
    background: linear-gradient(to right, green, orange, red);
}

.card--slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    cursor: pointer;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 0.4rem white solid;
}

.card--slider > input::-moz-range-thumb {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    cursor: pointer;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 0.4rem white solid;
}

.card--slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.button{
    padding: 1rem 2rem;
    font-size: 2.5rem;
    color: white;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 0.5rem ;
}

.button--start{
    background: #5CB338;
}

.button--stop{
    background: #FFC145;
}

.button--reset{
    background: #FB4141;
}




/* image */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 1rem;
    border-radius: 5rem;
}

.close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -25rem;
    max-width: 25rem;
    height: 100%;
    background: ;
    color: white;
    padding: 0.9rem;
    transition: 0.3s;
    box-shadow: 0rem 1rem 2rem 0 rgba(0,0,0,0.2);
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem 0;
    background: transparent;
    border-radius: 1.5rem;
    color: black;
    box-shadow: 0rem 1rem 2rem 0 rgba(0,0,0,0.2);
    font-size: 3.5rem;
}
.sidebar a:hover {
    background: #c0c0a1;
}

.sidebar .close-btn:hover {
    background: #c0c0a1;
}

.toggle-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: #F5f5dc;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
    box-shadow: 0rem, 1rem 2rem 0 rgba(0,0,0,0.2);
}

.close-btn {
    background: transparent;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 100%;
    justify-content: center;
    border-radius: 1.5rem;
    color: black;
    box-shadow: 0rem 1rem 2rem 0 rgba(0,0,0,0.2);
    font-size: 3.5rem;
    
}

h2{
    text-align: center;
    color: black;
    font-size: 5.5rem;
    
    
}

#img--menu{
    max-width: 7.5rem;
}